.main-block {
    position: relative;
    &__bg-form {
        height: 700px;
        overflow: hidden;
        @mixin atSmall {
            height: 600px;
        }
        @mixin atMedium {
            height: 500px;
        }
        &:before {
            position: absolute;
            content: '';
            background-color: rgba(0,0,0, .7);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        &-content {
            @mixin absoluteCenter;
            color: #fff;
            margin: 0 auto;
            width: 95%;
            @mixin atMedium {
                width: 80%;
            }
            @mixin atLarge {
                width: 70%;
            }
            .main-block-title {
                font-weight: bold;
                & .lighter {
                  font-weight: lighter;
                }
            }
            .form {
                .input-block {
                    display: flex;
                    margin: 20px 0;
                    flex-wrap: wrap;
                    & .form-group.relative {
                        margin-bottom: 20px;
                        flex-basis: 20%;
                        &:not(:last-child) {
                            margin-right: 20px;
                        }
                    }
                }
                .form-group input {
                    @mixin paddingReg;
                    border: none;
                    outline: none;
                    border-radius: $border-radius--xl;
                    &::placeholder {
                        font-size: 14px;
                        color: rgba(43,43,43,.57);
                    }
                }
            }
        }
    }
    &__custom-bg {
        @mixin absoluteCenter;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        z-index: -2;
        background-repeat: no-repeat;
    }
    .footnote {
        font-size: 12px;
    }
}
