.page-section {
    padding: 20px 0;
    &--grey {
        border-color: $color-grey--light;
    }
}

.triangle {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    border: 60px solid transparent;
    &.triangle-top {
        border-top: 0 solid transparent;
        border-left-width: 2500px;
        &--white {
            border-left-color: #fff;
        }
    }
    &.triangle-top--reverse {
        border-top: 0 solid transparent;
        border-right-width: 2400px;
        top: 0;
        &--grey {
            border-right-color: $color-grey--light;
        }
        &--white {
            border-right-color: #fff;
        }
    }
    &.triangle-bottom {
        bottom: 0;
        border-bottom: 0 solid transparent;
        border-left-width: 2500px;
        &--white {
            border-left-color: #fff;
        }
    }
    &.triangle-bottom--reverse {
        bottom: 0;
        &--white {
            border-color: red;
        }
    }
}

/*
.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }

  &--blue {
    color: #FFF;
  }

  &--testimonials {
    background-color: #e0e6ef;

    @mixin atLarge {
      background: url('assets/images/testimonials-bg.jpg') top center no-repeat;
      background-size: cover;
    }
  }

}
*/
