.header {
    padding-top: $nav-height;

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $nav-height;
        transition: all .25s;
    }

    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transition: height .25s ease-in-out, background-color 0s;

        &--dark {
            background-color: #fff;
            box-shadow: $shadow-main;

            .nav-wrapper {
                height: 50px;
            }
        }

        &:hover {
            background-color: $color-grey--light;
        }

        & .nav__logo-box {
            display: flex;
            height: $nav-height;
            align-items: center;

            .nav__hamburger {
                display: flex;
                width: 20px;
                height: 15px;
                position: relative;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                @mixin atLarge {
                    display: none;
                }

                &--stick {
                    height: 2px;
                    width: 100%;
                    background-color: $black;
                    transition: .3s;
                }

                &--close-x {
                    & .nav__hamburger--stick:nth-of-type(1) {
                        transform: translateY(6.5px) rotate(-45deg);
                        transition-delay: .1s;
                    }

                    & .nav__hamburger--stick:nth-of-type(2) {
                        transform: translateX(-50px);
                        opacity: 0;
                    }

                    & .nav__hamburger--stick:nth-of-type(3) {
                        transform: translateY(-6.5px) rotate(45deg);
                        transition-delay: .1s;
                    }

                }

            }

            .nav__logo {
                height: 26px;
                width: 132px;
                margin: auto auto auto 30px;
                @mixin atLarge {
                    margin: auto;
                }
            }
        }

        .nav__menu-list {
            margin: 0 auto;
            display: none;
            list-style: none;
            padding: 0;
            @mixin atLarge {
                display: flex;
            }



            & .nav__menu-item {
                & a {
                    color: $black;
                    transition: all .2s;
                }

                &:hover a {
                    text-decoration: none;
                    color: $color-primary;
                }
            }

            & .nav__menu-item:not(:last-of-type) {
                margin-right: 40px;
            }
        }

        .nav__login {
            cursor: pointer;

            &--user img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

/*
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  line-height: 1.35;
  z-index: 50;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
  !*padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: background-color .3s ease-out;*!

  &--is-expanded {
  }

  @mixin atMedium {
    position: fixed;

    &--dark {
      background-color: rgba(23, 51, 72, .85);
    }
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transition: transform .3s ease-out;
    transform: translateX(-50%) scale(.8);
    transform-origin: 50% 0;
    padding: 25px 36px;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        transform: scale(.55);
      }
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 90px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
}
*/
