.dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 0;
    top: -20px;
    left: 50%;
    border-radius: 2px;
    transition: all 0.2s;
    transform: translate(-50%, 100px);
    will-change: opacity;
    display: none;
    min-width: 100px;
    max-width: 300px;


    & ul.dropdown--brands-list,
    & ul.dropdown--service {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        overflow: hidden auto;
        margin: 0 auto;
        padding: 10px;

        li {
            width: 48%;
            transition: all .2s;
            padding: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: $color-grey--light;
            }
        }
    }
    & ul.dropdown--service {
        align-content: center;
        min-width: 250px;

        & li.nav__menu-item {
            min-height: 70px;
            & a.services-list__item {
                color: #292527;
                font-family: Gotham-Bold, Arial, sans-serif;
                font-size: .7rem;
                font-weight: lighter;
                margin: 0;
                padding: 0;
            }
            &:hover {
                background-color: $color-grey--light;
            }
        }
    }

    & ul.dropdown--brands-list {
        max-width: 300px;

        & li a.brands-list__item {
            padding: 0;
            display: flex;
            align-items: center;
            position: relative;
            transition: background-color .2s ease-in-out;

            .brands-list__item-block {
                min-width: 60px;
                display: flex;
                flex-direction: column;

                &--img {
                    width: 100%;
                    max-width: 55px;
                    margin-right: 5px;
                    max-height: 35px;
                    display: block;

                    & img {
                        width: auto;
                        height: auto;
                        max-height: 40px;
                        margin: 0 auto;
                    }
                }

                &--name {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: center;
                    white-space: normal;

                    &:nth-child(1) {
                        color: #292527;
                        font-family: sans-serif;
                        font-size: .85rem;
                        font-weight: bold;
                    }

                    &:nth-child(2) {
                        font-family: Gotham-Bold, Arial, sans-serif;
                        font-size: .7rem;
                        color: #77777a;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .brands-list__item {
        &-popup {
            opacity: 0;
        }

    }
}

.trigger-enter .dropdown {
    display: block;
}

.trigger-enter-active .dropdown {
    opacity: 1;
}

.dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: $shadow-main;
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;

    &.open {
        opacity: 1;
    }

    span.arrow {
        position: absolute;
        width: 20px;
        height: 20px;
        display: block;
        background: white;
        transform: translateY(-50%) rotate(45deg);
    }
}
